#snack-1 {
    background-color: #344e41;
}

.col-lg-5 {
    background-image: url(../img/ticket.jpg);
    background-size: cover;
    background-position: center;
}


#snack-2 .col-xl-4{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}